extends layout

block content

 -data = data|| {}

 if errors
  ul
   for error in errors
    li= error.msg

 form(action="." method="POST")
   label(for="fname") First Name:
   input(
     type="text"
     id="fname"
     name="fname"
     value=data.fname
   )

   label(for="lname") Last Name:
   input(
     type="text"
     id="lname"
     name="lname"
     value=data.lname
   )

   label(for="location") Location:
    input(
     type="text"
     id="location"
     name="location"
     value=data.location
   )

   input(type="submit" value="Submit")
